@import "./theme.scss";
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-family: monospace, sans-serif, serif;
}
.wrap {
    width: 100%;
    height: 100%;
}
$nav-width: 60px;
$header-height: 50px;
.nav {
    float: left;
    width: $nav-width;
    height: 100%;
    background: $primary-color;
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 5px;
}
.container {
    position: absolute;
    left: $nav-width;
    top: 0;
    right: 0;
    bottom: 0;
}
.header {
    width: 100%;
    height: $header-height;
    background: $white;
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 5px;
}
.content {
    position: absolute;
    top: $header-height + 2;
    left: 0;
    bottom: 0;
    right: 0px;
    padding: 10px;
    overflow: scroll;
}
