# node module #
node_modules/

.DS_Store

# sass cache #
.sass-cache/

# log file #
*.log

# project doc #
doc/

# build directory #
build/

# code coverage directory #
coverage/

# flow-typed
flow-typed/
